# Discord
DISCORD_TOKEN=your_discord_bot_token

# Emby
EMBY_URL=http://localhost:8096
EMBY_USERNAME=Emby-bot
EMBY_PASSWORD=your_emby_password

# Optional
LOG_LEVEL=info
EMBY_PUBLIC_URL=https://your-public-domain.com
